In [2]:
import pandas as pd
import numpy as np

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels. Try not to use `.iterrows()`)

In [3]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}
labels =[1,2,3,4,5]
df = pd.DataFrame(data, index=labels)
print(df)

(df.isnull().cumsum(axis=1) == 3).idxmax(axis = 1)

    1    2    3    4    5    6   7    8    9    10
1  NaN  NaN  NaN  1.0  1.0  1.0   1  1.0  1.0  1.0
2  2.0  2.0  2.0  NaN  2.0  NaN   2  NaN  2.0  NaN
3  NaN  3.0  NaN  3.0  NaN  3.0   3  3.0  3.0  3.0
4  4.0  NaN  4.0  NaN  4.0  NaN   4  NaN  4.0  4.0
5  5.0  5.0  5.0  NaN  5.0  NaN   5  NaN  NaN  5.0

1    3
2    8
3    5
4    6
5    8
dtype: int64

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.