In [4]:
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [5]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)

df1= df.sub(df.mean(axis=1), axis=0)
df1

          0         1         2
0  0.858329  0.893398  0.327307
1  0.462080  0.478248  0.968180
2  0.648919  0.310019  0.497462
3  0.607541  0.706396  0.044184
4  0.430442  0.817286  0.467880

          0         1         2
0  0.165318  0.200386 -0.365704
1 -0.174089 -0.157921  0.332011
2  0.163452 -0.175448  0.011996
3  0.154834  0.253689 -0.408523
4 -0.141427  0.245416 -0.103989

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [6]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
s = df.sum().idxmin()
print('the column of number has the smallest sum is: ',s)

          a         b         c         d         e         f         g  \
0  0.928603  0.962910  0.464950  0.052157  0.187160  0.407127  0.722020
1  0.398298  0.731469  0.752951  0.603448  0.805699  0.204696  0.469781
2  0.363486  0.858949  0.048104  0.137411  0.652730  0.898631  0.213219
3  0.221161  0.386612  0.157095  0.029269  0.834105  0.774272  0.539323
4  0.812408  0.396855  0.433134  0.473354  0.396421  0.156694  0.963975

          h         i         j
0  0.560002  0.828195  0.579658
1  0.135259  0.824431  0.314417
2  0.651162  0.892683  0.375636
3  0.910487  0.001940  0.173223
4  0.100794  0.216835  0.036555
the column of number has the smallest sum is:  d